:root {
  --base-color-white: #fdf7ff;
  --primary-color-purple: #6405bf;
  --base-color-black: #201925;
  --base-color-grey: #9f88b1;
  --gradient-color: linear-gradient(
    180deg,
    #6405bf 0%,
    #9a05bf 50%,
    #d6086b 100%
  );
}

h1 {
  font-family: "Montserrat", sans-serif;
  color: var(--base-color-black);
  font-weight: 600;
  font-size: 47px;
  line-height: 65px;
  letter-spacing: 0.02em;
}

em {
  color: var(--primary-color-purple);
}

.hero {
  background: var(--base-color-white);
  margin: 0 auto;
  width: 100%;
  max-height: fit-content(600px);
}

.menu {
  font-family: "Hind", sans-serif;
  font-weight: 300;
  font-size: 24px;
  line-height: 20px;
  letter-spacing: 0.05em;
  padding-top: 30px;
  color: var(--base-color-grey);
}

.menu:focus,
.menu:hover {
  color: var(--base-color-black);
}

/* .logo {
  max-width: 80px;
  max-height: 80px;
} */

.navbar-toggler,
.navbar-toggler-icon {
  color: var(--base-color-grey);
}

.button-style {
  font-family: "Montserrat", sans-serif;
  text-decoration: none;
  font-weight: 400;
  font-size: 24px;
  line-height: 20px;
  border: none;
  color: var(--base-color-white);
  background: var(--gradient-color);
  margin: 0 auto;
  padding: 18px 33px;
  border-radius: 10px;
}

.button-style:hover {
  outline: 0.3em ridge var(--primary-color-purple);
}

.main-page-projects {
  /* margin: 0 auto;
  display: block;
  overflow-wrap: break-word; */
  background: var(--primary-color-purple);
  min-height: 1000px;
  height: 1794px;
}

@media (max-width: 991.98px) {
  h1 {
    font-size: 26px;
    line-height: 40px;
  }
  .col-sm-4 {
    display: none;
  }
  .button-style {
    font-size: 20px;
    line-height: 12px;
    padding: 14px 24px;
  }
}
