h1 {
  font-family: "Montserrat", sans-serif;
  color: rebeccapurple;
  font-size: 70px;
}

.menu {
  font-family: "Hind", sans-serif;
}

a {
  color: rgb(17, 154, 37);
}

section {
  padding: 160px;
  background-color: rgb(246, 245, 194);
}
