:root {
  --base-color-white: #fdf7ff;
  --primary-color-purple: #6405bf;
  --base-color-black: #201925;
  --gradient-color: linear-gradient(
    180deg,
    #6405bf 0%,
    #9a05bf 50%,
    #d6086b 100%
  );
}

.hero {
  background-color: var(--base-color-white);
}

h1 {
  font-family: "Montserrat", sans-serif;
  color: var(--base-color-black);
  font-weight: 600;
  font-size: 47px;
  line-height: 65px;
  letter-spacing: 0.02em;
}

em {
  color: var(--primary-color-purple);
}

.menu {
  font-family: "Hind", sans-serif;
  font-weight: 300;
  font-size: 24px;
  line-height: 20px;
  letter-spacing: 0.05em;
  /* color: var(--base-color-black); */
}

.logo {
  max-width: 80px;
  max-height: 80px;
}

.contact-button {
  font-family: "Montserrat", sans-serif;
  text-decoration: none;
  text-transform: uppercase;
  font-weight: 400;
  font-size: 24px;
  line-height: 20px;
  border: none;
  color: var(--base-color-white);
  background: var(--gradient-color);
  margin: 0 auto;
  padding: 18px 33px;
  border-radius: 10px;
}

.contact-button:hover {
  border: 0.4em ridge var(--primary-color-purple);
}
